Cython
fastapi
uvicorn
orator
#pyyaml==5.4.1
psycopg2-binary
graphene
graphene-pydantic
pytest

annotated-types
anyio
build
click
ecdsa
exceptiongroup
fastapi
h11
httptools
idna
importlib-metadata
packaging
passlib
pip
pip-tools
pyasn1
pydantic
pydantic_core
pyproject_hooks

python-jose
python-multipart
PyYAML
rsa
setuptools
six
sniffio
starlette
tomli
typing_extensions
uvicorn
uvloop
watchfiles
websockets
wheel
zipp

